#Swupdate file config for rpi
#Version 2016-06

CONFIG_HAVE_DOT_CONFIG=y

#
# General Configuration
#
CONFIG_SCRIPTS=y
CONFIG_SW_VERSION_FILE="/etc/sw-versions"
CONFIG_HW_COMPATIBILITY=y
CONFIG_HW_COMPATIBILITY_FILE="/etc/hwrevision"
#CONFIG_LUA is not set
# CONFIG_FEATURE_SYSLOG is not set

#
# Build Options
#
# CONFIG_STATIC is not set
CONFIG_CROSS_COMPILER_PREFIX=""
CONFIG_SYSROOT=""
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS=""
CONFIG_EXTRA_LDLIBS=""

#
# Debugging Options
#
# CONFIG_DEBUG is not set
# CONFIG_DEBUG_PESSIMIZE is not set
# CONFIG_WERROR is not set
# CONFIG_NOCLEANUP is not set
CONFIG_DOWNLOAD =y
CONFIG_WEBSERVER=y

#
# Webserver Features
#
CONFIG_MONGOOSE=y

#
# Mongoose Feature
#
#CONFIG_MONGOOSELUA is not set
# CONFIG_MONGOOSESQL is not set
CONFIG_MONGOOSEIPV6=y
CONFIG_MONGOOSESSL=y

#
# Archival Features
#
CONFIG_CPIO=y
CONFIG_GUNZIP=y

#
# Parser Features
#
CONFIG_LIBCONFIG=y
# CONFIG_LUAEXTERNAL is not set
# CONFIG_SETEXTPARSERNAME is not set
CONFIG_EXTPARSERNAME=""
# CONFIG_SETSWDESCRIPTION is not set
CONFIG_SWDESCRIPTION=""

#
# Image Handlers
#
# CONFIG_UBIVOL is not set
CONFIG_UBIBLACKLIST=""
CONFIG_UBIVIDOFFSET=0
CONFIG_CFI=y
CONFIG_RAW=y
#CONFIG_LUASCRIPTHANDLER is not set
CONFIG_SHELLSCRIPTHANDLER=y
#CONFIG_HANDLER_IN_LUA is not set
CONFIG_UBOOT=y
CONFIG_UBOOT_FWENV="/etc/fw_env.config"

#
# Image Signed
#
CONFIG_SIGNED_IMAGES=y
